// Avatar styles based on Bootstrap Italia
@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/base/helpers/visually-hidden';
@import 'bootstrap-italia/src/scss/components/avatar';

:host {
  display: inline-flex;
  a.avatar,
  a .avatar {
    text-decoration: none;
  }
  a.avatar:hover,
  a .avatar:hover {
    text-decoration: none;
  }
}
it-icon::part(icon) {
  width: var(--bs-avatar-icon-size);
  height: var(--bs-avatar-icon-size);
}
it-icon {
  display: inline-flex;
}

it-icon.presence-icon::part(icon),
it-icon.status-icon::part(icon) {
  width: 12px;
  height: 12px;
  stroke-width: 2px;
  stroke: var(--bs-icon-inverse);
}
