@use 'sass:map';
@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;
@use 'bootstrap-italia/src/scss/base/utilities';
@use 'bootstrap-italia/src/scss/utilities/icons' as *;

utilities.$utilities: (
  'align': map.merge(
      map.get(utilities.$utilities, 'align'),
      (
        values: top middle bottom,
      )
    ),
  'background-color': map.get(utilities.$utilities, 'background-color')
);

@use 'bootstrap-italia/src/scss/base/utilities/api' as *;

:host {
  display: inline-block;
}

:host([align='top']) {
  vertical-align: top;
}

:host([align='middle']),
:host(:not([align])) {
  vertical-align: middle;
}

:host([align='bottom']) {
  vertical-align: bottom;
}

.icon-white {
  fill: #fff !important;
  // Alcune icone bsi hanno attr di path fissati come fill:black, per ora patchiamo qui
  path {
    fill: #fff !important;
  }
}
