@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

// @import 'bootstrap-italia/src/scss/base/transitions';
@import 'bootstrap-italia/src/scss/components/type';

:host {
  display: block;
}

.collapse-wrapper {
  width: 100%;
}

.collapse-content {
  overflow: hidden;
  height: 0;
  @include transition($transition-collapse);
}

:host([expanded]) .collapse-content {
  // Height will be managed by JavaScript during animation
}
