it-back-to-top {
  &:not(:defined) {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }
}

body.navscroll-on-bottom {
  it-back-to-top::part(button) {
    bottom: calc(var(--#{$prefix}backtop-position) + 3rem);
  }
}
