@import 'bootstrap-italia/src/scss/components/footer';
@import 'bootstrap-italia/src/scss/components/list';
@import 'bootstrap-italia/src/scss/components/headercenter';

.it-footer-main .it-brand-wrapper ::part(icon) {
  width: var(--bs-footer-brand-icon-size);
  height: var(--bs-footer-brand-icon-size);
  flex-shrink: 0;
  margin-right: var(--bs-spacing-xs);
  fill: var(--bs-footer-brand-icon-color);
}
