// Global styles that need to be imported at page level
// These styles affect elements outside the shadow DOM

@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;

// Body scroll lock when modal is open
body.modal-open {
  overflow: hidden;
  padding-right: var(--modal-scrollbar-width, 0);
}

it-modal:not(:defined) :not([slot='trigger']) {
  display: none;
}

it-modal {
  --it-focus-ring-safari-fix: none;
}

/* Rimuovi il flash visivo solo durante l'apertura programmata */
[part='modal']:focus {
  box-shadow: var(--it-focus-ring-safari-fix) !important;
  outline: var(--it-focus-ring-safari-fix) !important;
}
// Impedisce a Safari di mostrare il ring di focus sul container
// o sui figli quando il focus è indotto da script
[role='dialog']:focus,
[role='dialog']:focus-visible,
*:focus:not(:focus-visible) {
  box-shadow: none !important;
  outline: 0 !important;
}
