@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/base/containers';

@import 'bootstrap-italia/src/scss/components/imgresponsive';
@import 'bootstrap-italia/src/scss/components/overlay-panel';
@import 'bootstrap-italia/src/scss/components/hero';

:host {
  ::slotted(*[slot='background']) {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .it-hero-wrapper.it-overlay.it-filter .img-responsive-wrapper ::slotted(*[slot='background']) {
    mix-blend-mode: screen;
  }
}
