@use 'sass:map';
@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/config' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;
@use 'bootstrap-italia/src/scss/base/utilities';
@use 'bootstrap-italia/src/scss/base/helpers/ratio' as *;

@use 'bootstrap-italia/src/scss/components/card' as *;
@use 'bootstrap-italia/src/scss/components/type' as *;

utilities.$utilities: (
  'rounded': map.merge(
      map.get(utilities.$utilities, 'rounded'),
      (
        values: (
          null: map.get(map.get(map.get(utilities.$utilities, 'rounded'), 'values'), null),
        ),
      )
    ),
  'display': map.merge(
      map.get(utilities.$utilities, 'display'),
      (
        values: none,
      )
    ),
  'shadow': map.get(utilities.$utilities, 'shadow'),
  'border': map.get(utilities.$utilities, 'border'),
  'border-top': map.get(utilities.$utilities, 'border-top'),
  'padding': map.get(utilities.$utilities, 'padding'),
  'padding-x': map.get(utilities.$utilities, 'padding-x'),
  'padding-y': map.get(utilities.$utilities, 'padding-y'),
  'padding-top': map.get(utilities.$utilities, 'padding-top')
);

@use 'bootstrap-italia/src/scss/base/utilities/api' as *;

/**
 * Copied from bsi reboot
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: var(--#{$prefix}paragraph-spacing);

  &:last-of-type {
    margin-bottom: 0;
  }
}

address {
  margin-bottom: var(--#{$prefix}spacing-s);
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: var(--#{$prefix}spacing-l);
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: var(--#{$prefix}spacing-s);
}

/* END copied from bsi reboot */

::slotted(figure),
::slotted(.it-card-profile-image-icon-wrapper) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.it-card {
  .it-card-title.it-card-title-icon {
    display: block;

    slot[name='title'] {
      display: flex;
      justify-content: space-between;
    }

    ::slotted(a) {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &:focus-visible {
        display: inline-block;
      }
    }
  }

  .it-card-footer {
    display: block;
  }
}

.it-card-footer slot[name='footer'] {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  // margin-top: var(--#{$prefix}card-spacing-y);
  color: var(--#{$prefix}card-footer-text-color);
  gap: var(--#{$prefix}card-spacing-y);
}

::slotted(.it-card-taxonomy) {
  flex-grow: 1;
}

.it-card-place-type {
  margin-top: 0.25rem;
}

.it-card-place-address {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
