@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;

:host {
  display: block;
  font-family: inherit;
  font-size: inherit;
}

.callout-more {
  display: block;
}
