@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';

@import 'bootstrap-italia/src/scss/base/reboot'; //per gli stili di ::before e ::after
@import 'bootstrap-italia/src/scss/base/helpers/visually-hidden';

@import 'bootstrap-italia/src/scss/forms/forms';
@import 'bootstrap-italia/src/scss/forms/form-control';
@import 'bootstrap-italia/src/scss/forms/form-check';
@import 'bootstrap-italia/src/scss/forms/just-validate';

:host {
  display: block;
  margin-bottom: var(--#{$prefix}spacing-xs);
}

:host([inline]) {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0;
}

.form-check [type='radio'] + label {
  margin-bottom: var(--#{$prefix}spacing-xxs);
}

.form-text {
  display: block;
  margin-top: var(--#{$prefix}spacing-xxs);
  margin-bottom: 0;
}
