// it-dropdown {
//   &[full-width] it-dropdown-item {
//     display: inline-block;
//   }

//   &:not(:defined) {
//     --it-host-display: inline-flex;
//     align-items: center;

//     it-dropdown-item:not(:defined),
//     [slot='header'] {
//       display: none;
//     }
//   }
// }

it-megamenu {
  position: unset;

  [slot='description'] {
    img {
      display: block;
      width: 100%;
      margin-bottom: var(--#{$prefix}spacing-s);
    }

    p {
      font-size: var(--#{$prefix}label-font-size);
      line-height: var(--#{$prefix}body-line-height);
    }
  }

  it-dropdown-item::part(list-item) {
    display: flex;
    align-items: center;
    white-space: normal;
  }

  it-dropdown-item::part(dropdown-item-text) {
    display: inline-flex;
    align-items: center;
  }

  .it-heading-link,
  .it-footer-link {
    font-size: var(--#{$prefix}heading-6-font-size);
    font-weight: var(--#{$prefix}font-weight-solid);
    line-height: var(--#{$prefix}heading-leading);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
