@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;

@use 'bootstrap-italia/src/scss/base/reboot'; //per gli stili di ::before e ::after
@use 'bootstrap-italia/src/scss/base/helpers/visually-hidden' as *;

@use 'bootstrap-italia/src/scss/forms/forms' as *;
@use 'bootstrap-italia/src/scss/forms/form-control' as *;
@use 'bootstrap-italia/src/scss/forms/form-check' as *;
@use 'bootstrap-italia/src/scss/forms/just-validate' as *;

.form-check {
  input:focus:not(:focus-visible) + label {
    box-shadow: none !important;
  }

  &.form-check-group {
    input:focus,
    input:focus + label {
      width: 100%;
    }
  }

  label {
    display: table;
  }
}
