@import 'bootstrap-italia/src/scss/components/navscroll';
@import 'bootstrap-italia/src/scss/components/progress-bars';

it-navscroll {
  --it-host-display: block;

  it-modal::part(modal) {
    --bs-modal-width: calc(100vw - 48px);
    --bs-modal-padding: 0;
    --bs-modal-title-font-size: 1rem;
    --bs-modal-bg: var(--bs-navscroll-background);
  }

  it-modal::part(modal-content-wrapper) {
    width: 100%;
  }

  it-modal::part(modal-header) {
    display: block;
    //--bs-navscroll-bottom-box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.05);
    box-shadow: var(--bs-navscroll-bottom-box-shadow);
  }

  it-button[slot='header']::part(button) {
    text-align: left;
    text-decoration: none;
  }

  .theme-dark-mobile {
    it-button[slot='trigger']::part(button) {
      color: var(--bs-navscroll-toggler-color); //$navscroll-dark-text-color;
    }

    it-modal,
    it-modal it-button::part(button) {
      --bs-btn-text-color: #fff;
      --bs-color-text-muted: #fff;
      --bs-icon-primary: var(--bs-icon-inverse);
    }
  }
}
