@use 'sass:map';
@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/config' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;
@use 'bootstrap-italia/src/scss/base/utilities'; //all utilities from bsi

@use 'bootstrap-italia/src/scss/base/transitions' as *;
@use 'bootstrap-italia/src/scss/base/helpers/visually-hidden' as *;

@use 'bootstrap-italia/src/scss/components/notifications' as *;
@use 'bootstrap-italia/src/scss/components/type' as *;

//ovveride utilities: get only needed utilities
utilities.$utilities: (
  'margin-end': map.merge(
      map.get(utilities.$utilities, 'margin-end'),
      (
        values: (
          2: map.get($spacers, 2),
        ),
      )
    )
);

@use 'bootstrap-italia/src/scss/base/utilities/api' as *; //use $utilities

/**
 * Copied from bsi reboot
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* END copied from bsi reboot */

.notification {
  z-index: var(--#{$prefix}notification-z-index, 2);
}

::slotted(p) {
  margin-top: var(--#{$prefix}spacing-xxs) !important;
  color: var(--#{$prefix}notification-text-color);
  font-size: var(--#{$prefix}notification-text-font-size) !important;
  line-height: var(--#{$prefix}body-leading) !important;
}

::slotted(p:last-child) {
  margin-bottom: 0 !important;
}

.with-icon ::slotted(p) {
  margin-bottom: 0 !important;
  margin-left: var(--#{$prefix}spacing-l);
}

.notification-close {
  --#{$prefix}icon-default: #{$icon-secondary};
  border: 0;

  &:hover {
    --#{$prefix}icon-default: #{$icon-primary};
  }
}
