@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;
@use 'bootstrap-italia/src/scss/base/containers' as *;
@use 'bootstrap-italia/src/scss/components/grid' as *;
@use 'bootstrap-italia/src/scss/utilities/colors' as *;

@use 'bootstrap-italia/src/scss/components/sections' as *;
@use 'bootstrap-italia/src/scss/components/imgresponsive' as *;

.img-responsive-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section.section-image::before {
  z-index: 1;
}

.img-responsive-wrapper .img-responsive {
  height: 100%;
  padding: 0;
}

it-section .container {
  @extend .container;
}

it-section .container-xxl,
it-section .container-xl,
it-section .container-lg,
it-section .container-md,
it-section .container-sm,
it-section .container {
  position: relative;
  z-index: 2;
}
