<h1>it-form</h1>

<form id="form" #form (ngSubmit)="handleSubmit(form)">
  <it-input id="nome" name="nome" label="Nome" required></it-input>
  <it-input id="cognome" name="cognome" label="Cogome"></it-input>
  <it-input id="email" name="email" label="E-mail" type="email" support-text="Inserisci la tua email"
  ></it-input>
  <it-input
    id="messaggio"
    name="messaggio"
    label="Messaggio"
    type="textarea"
    support-text="Inserisci il tuo messaggio"
  ></it-input>

  <it-button type="submit" variant="primary" block> Invia </it-button>
</form>
