it-input {
  --it-host-display: block;
  display: var(--it-host-display);

  it-button[slot='append'] {
    height: 100%;

    &::part(button) {
      --bsi-btn-border-radius: 0 var(--bsi-form-control-border-radius) var(--bsi-form-control-border-radius) 0;
      --bsi-btn-padding-y: 0;
      height: 100%;
      border-bottom: 1px solid var(--bsi-form-control-border-color);
    }
  }

  &:not(:defined) {
    margin-bottom: var(--bsi-spacing-m, 24px);
  }
}
