@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/base/helpers/visually-hidden';
@import 'bootstrap-italia/src/scss/components/chips';

::slotted(it-icon) {
  display: inline-flex;
}

:host([is-disabled]) ::slotted(it-icon) {
  --bsi-icon-primary: var(--bsi-icon-disabled);
  --bsi-icon-secondary: var(--bsi-icon-disabled);
  --bsi-icon-success: var(--bsi-icon-disabled);
  --bsi-icon-danger: var(--bsi-icon-disabled);
  --bsi-icon-warning: var(--bsi-icon-disabled);
  --bsi-icon-default: var(--bsi-icon-disabled);
}

:host ::slotted(it-icon) {
  --bsi-icon-default: var(--bsi-chip-icon-color);
}

:host([is-disabled]) ::slotted(it-button) {
  cursor: not-allowed !important;
}

/* Hover on the chip */
:host a:hover ::slotted(it-icon) {
  --bsi-icon-primary: var(--bsi-chip-text-color);
  --bsi-icon-secondary: var(--bsi-chip-text-color);
  --bsi-icon-success: var(--bsi-chip-text-color);
  --bsi-icon-danger: var(--bsi-chip-text-color);
  --bsi-icon-warning: var(--bsi-chip-text-color);
  --bsi-icon-default: var(--bsi-chip-text-color);
  --bsi-chip-icon-color: var(--bsi-chip-text-color);
}
