it-hero:not(:defined) {
  --it-host-display: block;
  display: var(--it-host-display);
}

it-hero {
  display: block;
  @extend .it-hero-wrapper;

  &[center] {
    .it-hero-text-wrapper {
      margin: 0 auto;
      text-align: center;
    }
  }
}
