@use 'bootstrap-italia/src/scss/base/config' as *;
@use 'bootstrap-italia/src/scss/components/hero' as *;

it-hero:not(:defined) {
  --it-host-display: block;
  display: var(--it-host-display);
  height: var(--#{$prefix}hero-height);
}

it-hero {
  display: block;
  @extend .it-hero-wrapper;

  &[center] {
    .it-hero-text-wrapper {
      margin: 0 auto;
      text-align: center;
    }
  }

  [slot='background'] {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
