@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;
@use 'bootstrap-italia/src/scss/components/buttons' as *;

.collapse-content {
  overflow: hidden;
  height: 0;
}

button,
[role='button'] {
  cursor: pointer;
}
