/* BOOTSTRAP ITALIA base styles */
@import 'design-tokens-italia/dist/css/variables';
@import 'bootstrap-italia/src/scss/base/version';
@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/base/utilities';
@import 'bootstrap-italia/src/scss/base/root';
@import 'bootstrap-italia/src/scss/base/reboot';

@import 'bootstrap-italia/src/scss/base/containers';
@import 'bootstrap-italia/src/scss/base/helpers';

@import 'bootstrap-italia/src/scss/base/utilities/api';
@import './utilities/focus';
@import './utilities/fouc';
// @import 'bootstrap-italia/src/scss/utilities/focus';
@import 'bootstrap-italia/src/scss/utilities/icons';
@import 'bootstrap-italia/src/scss/utilities/colors';
@import 'bootstrap-italia/src/scss/components/type';
@import 'bootstrap-italia/src/scss/components/grid';
@import 'bootstrap-italia/src/scss/components/alert';

@import 'bootstrap-italia/src/scss/forms/forms'; //perchè ci sono delle variabile definite nella :root

@import 'bootstrap-italia/src/scss/components/linklist';
@import 'bootstrap-italia/src/scss/components/dropdown';
@import 'bootstrap-italia/src/scss/components/nav';
@import 'bootstrap-italia/src/scss/components/header';
@import 'bootstrap-italia/src/scss/components/headerslim';
@import 'bootstrap-italia/src/scss/components/overlay-panel';
@import 'bootstrap-italia/src/scss/components/avatar';
@import 'bootstrap-italia/src/scss/components/affix';
@import 'bootstrap-italia/src/scss/components/badge';

/*dev-kit-italia global styles*/
@import '@italia/avatar/styles/globals';
@import '@italia/accordion/styles/globals';
@import '@italia/button/styles/globals';
@import '@italia/dropdown/styles/globals';
@import '@italia/icon/styles/globals';
@import '@italia/input/styles/globals';
@import '@italia/skiplinks/styles/globals';
@import '@italia/section/styles/globals';
@import '@italia/video/styles/globals';
@import '@italia/checkbox/styles/globals';
@import '@italia/chip/styles/globals';
@import '@italia/collapse/styles/globals';
@import '@italia/sticky/styles/globals';
@import '@italia/radio/styles/globals';
@import '@italia/modal/styles/globals';
// Footer
@import 'bootstrap-italia/src/scss/components/footer';
@import 'bootstrap-italia/src/scss/components/list';
@import 'bootstrap-italia/src/scss/components/headercenter';

@import './components/list';

.it-footer-main .it-brand-wrapper ::part(icon) {
  width: var(--#{$prefix}footer-brand-icon-size);
  height: var(--#{$prefix}footer-brand-icon-size);
  flex-shrink: 0;
  margin-right: var(--#{$prefix}spacing-xs);
  fill: var(--#{$prefix}footer-brand-icon-color);
}
// End footer
