/* BOOTSTRAP ITALIA base styles */
@import 'bootstrap-italia/src/scss/base/version';
@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';
@import 'bootstrap-italia/src/scss/base/utilities';
@import 'bootstrap-italia/src/scss/base/root';
@import 'bootstrap-italia/src/scss/base/reboot';

@import 'bootstrap-italia/src/scss/base/containers';
@import 'bootstrap-italia/src/scss/base/helpers';

@import 'bootstrap-italia/src/scss/base/utilities/api';
@import './utilities/focus';
@import './utilities/fuoc';
// @import 'bootstrap-italia/src/scss/utilities/focus';
@import 'bootstrap-italia/src/scss/utilities/icons';
@import 'bootstrap-italia/src/scss/utilities/colors';
@import 'bootstrap-italia/src/scss/utilities/text-colors';
@import 'bootstrap-italia/src/scss/components/type';
@import 'bootstrap-italia/src/scss/components/grid';

@import 'bootstrap-italia/src/scss/forms/forms'; //perchè ci sono delle variabile definite nella :root

@import 'bootstrap-italia/src/scss/components/linklist';
@import 'bootstrap-italia/src/scss/components/dropdown';
@import 'bootstrap-italia/src/scss/components/avatar';

/*dev-kit-italia global styles*/
@import '@italia/avatar/styles/globals';
@import '@italia/accordion/styles/globals';
@import '@italia/button/styles/globals';
@import '@italia/dropdown/styles/globals';
@import '@italia/icon/styles/globals';
@import '@italia/input/styles/globals';
@import '@italia/section/styles/globals';
@import '@italia/video/styles/globals';
@import '@italia/chip/styles/globals';
// Footer
@import 'bootstrap-italia/src/scss/components/footer';
@import 'bootstrap-italia/src/scss/components/list';
@import 'bootstrap-italia/src/scss/components/headercenter';

.it-footer-main .it-brand-wrapper ::part(icon) {
  width: var(--bs-footer-brand-icon-size);
  height: var(--bs-footer-brand-icon-size);
  flex-shrink: 0;
  margin-right: var(--bs-spacing-xs);
  fill: var(--bs-footer-brand-icon-color);
}
// End footer
