/**
 * This is only recommended for using during a migration
 * from bootstrap-italia to dev-kit-italia
 */

@forward './utilities/bsi-full';
@use 'bootstrap-italia/src/scss/base/config' as *;

/*dev-kit-italia global styles*/
@forward './utilities/focus';
@forward './utilities/fouc';
@forward '@italia/accordion/styles/globals';
@forward '@italia/autocomplete/styles/globals';
@forward '@italia/avatar/styles/globals';
@forward '@italia/back-to-top/styles/globals';
@forward '@italia/bottom-nav/styles/globals';
@forward '@italia/breadcrumbs/styles/globals';
@forward '@italia/button/styles/globals';
@forward '@italia/callout/styles/globals';
@forward '@italia/card/styles/globals';
@forward '@italia/carousel/styles/globals';
@forward '@italia/checkbox/styles/globals';
@forward '@italia/chip/styles/globals';
@forward '@italia/collapse/styles/globals';
@forward '@italia/dimmer/styles/globals';
@forward '@italia/dropdown/styles/globals';
@forward '@italia/header/styles/globals';
@forward '@italia/hero/styles/globals';
@forward '@italia/icon/styles/globals';
@forward '@italia/input/styles/globals';
@forward '@italia/megamenu/styles/globals';
@forward '@italia/modal/styles/globals';
@forward '@italia/navscroll/styles/globals';
@forward '@italia/notification/styles/globals';
@forward '@italia/pagination/styles/globals';
@forward '@italia/popover/styles/globals';
@forward '@italia/progress/styles/globals';
@forward '@italia/radio/styles/globals';
@forward '@italia/rating/styles/globals';
@forward '@italia/section/styles/globals';
@forward '@italia/select/styles/globals';
@forward '@italia/skiplinks/styles/globals';
@forward '@italia/stepper/styles/globals';
@forward '@italia/sticky/styles/globals';
@forward '@italia/tabs/styles/globals';
@forward '@italia/thumbnav/styles/globals';
@forward '@italia/timeline/styles/globals';
@forward '@italia/toggle/styles/globals';
@forward '@italia/toolbar/styles/globals';
@forward '@italia/tooltip/styles/globals';
@forward '@italia/transfer/styles/globals';
@forward '@italia/upload/styles/globals';
@forward '@italia/video/styles/globals';
@forward './components/alert';
@forward './components/footer';
@forward './components/go-back';
@forward './components/list';
@forward './components/sidebar';

.it-footer-main .it-brand-wrapper ::part(icon) {
  width: var(--#{$prefix}footer-brand-icon-size);
  height: var(--#{$prefix}footer-brand-icon-size);
  flex-shrink: 0;
  margin-right: var(--#{$prefix}spacing-xs);
  fill: var(--#{$prefix}footer-brand-icon-color);
}
