@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';
@import 'bootstrap-italia/src/scss/base/maps';

@import 'bootstrap-italia/src/scss/components/breadcrumb';

:host {
  --it-breadcrumb-background-color: transparent;
}

.breadcrumb {
  &.dark {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    --it-breadcrumb-background-color: hsl(210, 25%, 35.2%);
    background: var(--it-breadcrumb-background-color);

    ::slotted(it-breadcrumb-item) {
      --bs-breadcrumb-link-color: #fff;
      --bs-breadcrumb-item-active-color: #fff;
      --bs-breadcrumb-separator-color: #fff;
    }
  }
}
