@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins';

@import 'bootstrap-italia/src/scss/components/back-to-top';

button {
  border: 2px solid #fff;
  cursor: pointer;
}

:host([inverse]:not([icon-color])) button {
  border-color: var(--bs-primary);
}

:host([inverse][icon-color]) button {
  border-color: #000;
}
