@use 'sass:map';
@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/config' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/maps' as *;
@use 'bootstrap-italia/src/scss/base/utilities'; //all utilities from bsi
@use 'bootstrap-italia/src/scss/components/back-to-top' as *;

utilities.$utilities: (
  border: map.get(utilities.$utilities, border),
  'border-color': map.get(utilities.$utilities, 'border-color')
);

@use 'bootstrap-italia/src/scss/base/utilities/api' as *;

button.back-to-top {
  --#{$prefix}border-base: 2px;
  z-index: 9999; //per evitare che venga coperto da altri elementi tipo navscroll bottom su mobile
  border: none;
  cursor: pointer;

  --#{$prefix}icon-size-m: calc(var(--#{$prefix}backtop-sizing) / 2);
}
