@use 'bootstrap-italia/src/scss/base/config' as *;

it-callout p:last-child {
  margin: 0;
}

it-callout p.callout-big-text {
  font-size: var(--it-body-font-size-l);
}

it-callout p {
  font-size: var(--#{$prefix}callout-text-size);
}

it-callout:not(:defined) {
  display: block;
  padding: var(--#{$prefix}callout-inner-spacing, 24px) var(--#{$prefix}callout-inner-spacing, 24px);
  border: var(--#{$prefix}callout-border-size, 2px) solid var(--#{$prefix}color-border-secondary);
  margin: var(--#{$prefix}callout-outer-spacing, 32px) 0;

  /* Varianti colore per il bordo esterno in assenza di JS */
  &[variant='primary'] {
    border-color: var(--#{$prefix}color-border-primary);
  }

  &[variant='success'] {
    border-color: var(--#{$prefix}color-border-success);
  }

  &[variant='warning'] {
    border-color: var(--#{$prefix}color-border-warning);
  }

  &[variant='danger'] {
    border-color: var(--#{$prefix}color-border-danger);
  }

  &[highlight] {
    padding: 0;
    padding-left: var(--#{$prefix}callout-inner-spacing, 24px);
    border-width: 0 0 0 4px;
    border-left-color: var(--#{$prefix}color-border-secondary);

    > p {
      margin-top: 0.5rem;
    }
  }

  /* Varianti per lo stato highlight (colore del bordo sinistro) */
  &[highlight][variant='primary'] {
    border-left-color: var(--#{$prefix}color-border-primary);
  }

  &[highlight][variant='success'] {
    border-left-color: var(--#{$prefix}color-border-success);
  }

  &[highlight][variant='warning'] {
    border-left-color: var(--#{$prefix}color-border-warning);
  }

  &[highlight][variant='danger'] {
    border-left-color: var(--#{$prefix}color-border-danger);
  }

  &[variant='primary'] [slot='title'] {
    color: var(--#{$prefix}color-border-primary);
  }

  &[variant='success'] [slot='title'] {
    color: var(--#{$prefix}color-border-success);
  }

  &[variant='warning'] [slot='title'] {
    color: var(--#{$prefix}color-border-warning);
  }

  &[variant='danger'] [slot='title'] {
    color: var(--#{$prefix}color-border-danger);
  }

  > p {
    margin-top: 1.5rem;
  }

  &[callout-more] {
    padding: var(--it-spacing-l) !important;
  }

  [slot='title'] {
    color: var(--#{$prefix}callout-title-color);
    font-size: var(--#{$prefix}callout-title-font-size, 18px);
    font-weight: var(--#{$prefix}callout-title-font-weight, 600);
    text-transform: uppercase;
  }
}

it-callout-more:not(:defined) {
  display: flex;
  flex-direction: column;

  [slot='label'] {
    display: none;
    order: 2;
  }

  [slot='content'] {
    order: 1;
  }

  [slot='extra'] {
    display: flex;
    justify-content: flex-end;
    order: 2;
  }
}
