/*
 * a11y theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

/*
 * MARK: Setup
 */
@media (forced-colors: none), (forced-colors: active) {
  :root {
    --prism-a11y-border-radius: 0.3em;
    --prism-a11y-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --prism-a11y-line-height: 1.5;
    --prism-a11y-code-block-margin: 0.5em 0;
    --prism-a11y-code-block-padding: 1em;
    --prism-a11y-code-inline-padding: 0.1em;
    --prism-a11y-width-border: 1px;
    --prism-a11y-width-tab: 2;
  }
}

@media (forced-colors: none), (forced-colors: active) {
  :root {
    --prism-a11y-color-background: hsla(0, 0%, 17%, 1);
    --prism-a11y-color-text-no-token: hsla(60, 30%, 96%, 1);
    --prism-a11y-color-text-comment: hsla(54, 32%, 75%, 1);
    --prism-a11y-color-text-blue: hsla(180, 100%, 44%, 1);
    --prism-a11y-color-text-green: hsla(80, 75%, 55%, 1);
    --prism-a11y-color-text-gray: hsla(60, 30%, 96%, 1);
    --prism-a11y-color-text-purple: hsla(291, 30%, 83%, 1);
    --prism-a11y-color-text-red: hsla(17, 100%, 74%, 1);
    --prism-a11y-color-text-yellow: hsla(51, 100%, 50%, 1);
    --prism-a11y-plugin-color-border: hsla(51, 100%, 50%, 0.55);
    --prism-a11y-plugin-color-background: hsla(51, 100%, 50%, 0.1);
  }
}

@media (forced-colors: none), (forced-colors: active) {
  /*
     * MARK: Theme
     */
  code[class*='language-'],
  pre[class*='language-'],
  pre.prismjs {
    background: var(--prism-a11y-color-background) !important;
    color: var(--prism-a11y-color-text-no-token) !important;
    font-family: var(--prism-a11y-font-family);

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: var(--prism-a11y-line-height);

    -moz-tab-size: var(--prism-a11y-width-tab);
    -o-tab-size: var(--prism-a11y-width-tab);
    tab-size: var(--prism-a11y-width-tab);
    text-align: start;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
  }

  /* Code blocks */
  pre[class*='language-'],
  pre.prismjs {
    overflow: auto;
    padding: var(--prism-a11y-code-block-padding) !important;
    border-radius: var(--prism-a11y-border-radius);
    margin: var(--prism-a11y-code-block-margin);
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: var(--prism-a11y-color-background);
  }

  /* Inline code */
  :not(pre) > code[class*='language-'] {
    padding: var(--prism-a11y-code-inline-padding);
    border-radius: var(--prism-a11y-border-radius);
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--prism-a11y-color-text-comment) !important;
  }

  .token.punctuation {
    color: var(--prism-a11y-color-text-gray) !important;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: var(--prism-a11y-color-text-red) !important;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable,
  .token.keyword {
    color: var(--prism-a11y-color-text-blue) !important;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: var(--prism-a11y-color-text-green) !important;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.regex,
  .token.important {
    color: var(--prism-a11y-color-text-yellow) !important;
  }

  .token.boolean,
  .token.number,
  .token.keyword {
    color: var(--prism-a11y-color-text-purple) !important;
  }

  .token.important,
  .token.bold {
    font-weight: bold !important;
  }

  .token.italic {
    font-style: italic !important;
  }

  .token.entity {
    cursor: help !important;
  }

  /*
     * MARK: Plugin support
     */
  /* Line highlight */
  .line-highlight {
    border-top: var(--prism-a11y-width-border) solid var(--prism-a11y-plugin-color-border);
    border-bottom: var(--prism-a11y-width-border) solid var(--prism-a11y-plugin-color-border);
    background: var(--prism-a11y-plugin-color-background);
  }

  /* Line numbers */
  .line-numbers .line-numbers-rows {
    border-right: var(--prism-a11y-width-border) solid var(--prism-a11y-color-text-no-token);
  }

  .line-numbers-rows > span:before {
    color: var(--prism-a11y-color-text-comment);
  }
}

/*
   * MARK: Forced color mode support
   */
@media (forced-colors: active) {
  :root {
    --prism-a11y-color-background: Canvas;
    --prism-a11y-color-text-no-token: CanvasText;
    --prism-a11y-color-text-comment: GrayText;
    --prism-a11y-color-text-blue: LinkText;
    --prism-a11y-color-text-gray: LinkText;
    --prism-a11y-color-text-green: CanvasText;
    --prism-a11y-color-text-purple: CanvasText;
    --prism-a11y-color-text-red: CanvasText;
    --prism-a11y-color-text-yellow: GrayText;
    --prism-a11y-plugin-color-border: LinkText;
    --prism-a11y-plugin-color-background: Canvas;
  }

  :where(.token.boolean, .token.number, .token.keyword) {
    font-weight: bold;
  }
}
