it-tabs[auto] {
  flex-wrap: nowrap;

  it-tab {
    flex: 1 0 auto;
  }
}

it-tabs {
  it-tab {
    flex-grow: 0;
    gap: 0.5rem;

    it-icon {
      display: contents;
    }
  }
}

it-tabs:defined .after-tablist {
  display: flex;
  height: 100%;
  border-bottom: 1px solid var(--#{$prefix}color-border-subtle);
  margin-left: 0 !important;
  background-color: var(--#{$prefix}color-background-inverse) !important;
  padding-inline: 1rem;
}

it-tabs:defined[cards] it-tab {
  padding-bottom: 17px;
  border-bottom: 1px solid transparent;
}

it-tab-panel {
  height: 100%;
}

it-tabs:not(:defined) {
  --it-host-display: flex;

  &[placement='start'],
  &[placement='end'] {
    height: 100%;
    flex-direction: column;
  }

  &[placement='start'] {
    align-items: flex-start;
  }

  &[placement='end'] {
    align-items: flex-end;
  }

  &[placement='bottom'] {
    width: 100%;
    align-items: end;
  }

  it-button.after-tablist {
    height: 54px;
  }
}

it-tab:not(:defined) {
  width: var(--it-tabs-nav-size, auto);
  align-items: center;
  justify-content: center;
}

it-tab-panel:not(:defined) {
  --it-host-display: none;
}
