it-tabs[auto] {
  flex-wrap: no-wrap;

  it-tab {
    flex: 1 0 auto;
  }
}

it-tabs {
  it-tab {
    flex-grow: 0;
    gap: 0.5rem;

    it-icon {
      display: contents;
    }
  }
}

it-tabs[vertical] {
  display: flex;
}

it-tabs .after-tablist {
  display: flex;
  height: 100%;
  border-bottom: 1px solid var(--#{$prefix}color-border-subtle);
  margin-left: 0 !important;
  background-color: var(--#{$prefix}color-background-inverse) !important;
  padding-inline: 1rem;
}

it-tabs[cards] it-tab {
  padding-bottom: 17px;
  border-bottom: 1px solid transparent;
}

it-tab-panel {
  height: 100%;
}
