@use 'sass:map';
@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/config' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;

//FOUC STYLES
.it-header-wrapper {
  .it-header-slim-wrapper:not(.theme-light) {
    --it-fouc-bg: var(--#{$prefix}header-slim-background);
    --it-fouc-color: var(--#{$prefix}header-slim-text-color);
  }

  .it-header-center-wrapper:not(.theme-light) {
    --it-fouc-bg: var(--#{$prefix}header-center-background);
    --it-fouc-color: var(--#{$prefix}header-center-text-color);
  }

  .it-header-navbar-wrapper:not(.theme-light) {
    --it-fouc-bg: var(--#{$prefix}header-nav-background);
    --it-fouc-color: var(--#{$prefix}header-nav-text-color);
  }
}

// HEADER SLIM
.it-header-slim-wrapper {
  .btn.btn-full {
    --#{$prefix}btn-border-radius: 0;
  }

  .nav-mobile {
    .link-list-wrapper {
      display: flex;
      justify-content: end;
    }
  }

  it-dropdown {
    --#{$prefix}color-background-primary: var(--#{$prefix}header-slim-background);

    &::part(button) {
      --#{$prefix}btn-font-weight: var(--#{$prefix}font-weight-base);
      --#{$prefix}btn-font-size: var(--#{$prefix}header-slim-font-size);
      --#{$prefix}btn-padding-x: 0;
      --#{$prefix}btn-border-radius: 0;
      --#{$prefix}btn-text-color: var(--#{$prefix}header-slim-text-color);
      --#{$prefix}color-background-primary-hover: var(--#{$prefix}header-slim-background);
      --#{$prefix}color-background-primary-active: var(--#{$prefix}header-slim-background);

      &:hover {
        text-decoration: underline;
      }
    }

    &::part(icon) {
      --#{$prefix}icon-size-s: var(--#{$prefix}icon-size-xs);
    }
  }

  it-button {
    --#{$prefix}color-background-primary-hover: var(--#{$prefix}color-background-primary-deep);

    //questi stili (color e background-color) servono per evitare problemi di contrasto con gli strumenti di verifica dell'accessibilità, che altrimenti segnalerebbero un contrasto insufficiente tra testo e sfondo
    background-color: var(--#{$prefix}header-slim-background);
    color: var(--#{$prefix}header-slim-text-color);
  }
}

// HEADER CENTER
.it-brand-wrapper {
  --#{$prefix}header-brand-spacing: 0;

  it-icon {
    &:not(:defined) {
      &,
      &:not([size]),
      &[size=''] {
        width: var(--#{$prefix}header-brand-size);
        height: var(--#{$prefix}header-brand-size);
        margin-right: var(--#{$prefix}spacing-xxs);
      }
    }

    &::part(icon) {
      width: var(--#{$prefix}header-brand-size);
      height: var(--#{$prefix}header-brand-size);
      margin-right: var(--#{$prefix}spacing-xxs);
      fill: var(--#{$prefix}header-brand-icon-color);
    }
  }
}

.it-right-zone .it-socials {
  a {
    &:hover {
      --#{$prefix}header-social-color: var(--#{$prefix}color-background-inverse-hover);
    }
  }

  it-icon::part(icon) {
    width: var(--#{$prefix}icon-size-s);
    height: var(--#{$prefix}icon-size-s);
    margin-left: var(--#{$prefix}spacing-s);
    fill: var(--#{$prefix}header-social-color);
  }
}

.it-search-wrapper {
  .rounded-icon {
    it-icon::part(icon) {
      width: var(--#{$prefix}header-search-icon-size);
      height: var(--#{$prefix}header-search-icon-size);
      fill: var(--#{$prefix}header-search-icon-color);
    }
  }

  it-button.rounded-icon::part(button) {
    --#{$prefix}btn-background: var(--#{$prefix}header-search-button-background);
    --#{$prefix}btn-border-radius: var(--#{$prefix}radius-rounded);

    width: var(--#{$prefix}header-search-button-size);
    height: var(--#{$prefix}header-search-button-size);
  }
}

// HEADER NAV
.it-header-navbar-wrapper {
  background-color: var(
    --#{$prefix}header-nav-background
  ); // TODO: probabilmente da rimuovere quando sia aggiorna la versione di bsi che include questa https://github.com/italia/bootstrap-italia/pull/1770

  it-dropdown {
    --#{$prefix}btn-border-radius: 0;
  }
}

.navbar {
  --#{$prefix}navbar-link-border-color: transparent; //to avoid color contrast issue from tools a11y checker
}

.navbar-nav {
  li.nav-item {
    a.nav-link {
      z-index: 1; //per evitare che il focus sul link venga coperto da altri elementi
    }

    &.active,
    .active {
      --#{$prefix}navbar-link-border-color: var(--#{$prefix}navbar-link-color);
    }

    it-dropdown::part(icon) {
      --#{$prefix}icon-size-s: var(--#{$prefix}icon-size-xs);
    }

    it-dropdown,
    it-megamenu {
      &,
      &::part(dropdown-popover),
      &::part(dropdown-button) {
        height: 100%;
      }

      &::part(dropdown-button) {
        --#{$prefix}label-font-size: var(--#{$prefix}navbar-link-font-size);
        background-color: var(--#{$prefix}navbar-background); //to avoid color contrast issue from tools a11y checker
        color: var(--#{$prefix}navbar-link-color); //to avoid color contrast issue from tools a11y checker
      }

      &::part(dropdown-icon-expand) {
        line-height: 0;
      }

      &::part(button) {
        --#{$prefix}btn-background: var(--#{$prefix}navbar-background);
        --#{$prefix}btn-border-radius: 0;
        --#{$prefix}btn-text-color: var(--#{$prefix}navbar-link-color);
        --#{$prefix}btn-padding-y: var(--#{$prefix}navbar-link-padding-y);
        --#{$prefix}btn-line-height: var(--#{$prefix}navbar-link-line-height);
        --#{$prefix}label-font-size: var(--#{$prefix}navbar-link-font-size);
        border-left: var(--#{$prefix}navbar-link-border-size) solid var(--#{$prefix}navbar-link-border-color);

        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }

        &:focus-visible {
          z-index: 3;
          border-bottom-color: transparent !important;
        }
      }

      &[active]:not([data-it-aria-expanded='true']) {
        &::part(button) {
          --#{$prefix}navbar-link-border-color: var(--#{$prefix}navbar-link-active-border-color);
        }
      }

      @media (min-width: #{map.get($grid-breakpoints, lg)}) {
        &::part(button) {
          padding-bottom: calc(var(--#{$prefix}navbar-link-padding-y) - var(--#{$prefix}navbar-link-border-size));
          border-bottom: var(--#{$prefix}navbar-link-border-size) solid var(--#{$prefix}navbar-link-border-color);
          border-left: none;
        }
      }
    }
  }
}

//OTHERS

.navbar-collapsable .menu-wrapper {
  //z-index: 10; //to avoid megamenu dropdowns in header to be hidden when navscroll is in page
  z-index: auto; // to avoid megamenu dropdowns in header to be overlapped by navscroll or other items in page
}

// IT-NAV-MODAL
.it-header-center-wrapper {
  flex-direction: row-reverse;
}

it-modal#it-nav-modal {
  --it-nav-modal-header-background: var(--#{$prefix}header-center-background);
  --it-nav-modal-header-text-color: var(--#{$prefix}header-center-text-color);

  &.modal-header-theme-dark {
    --it-nav-modal-header-background: var(--#{$prefix}color-background-primary);
    --it-nav-modal-header-text-color: var(--#{$prefix}color-text-inverse);
  }

  &.modal-header-theme-light {
    --it-nav-modal-header-background: var(--#{$prefix}color-background-inverse);
    --it-nav-modal-header-text-color: var(--#{$prefix}color-link);
  }

  &.hide-header-brand {
    &::part(modal-header) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &::part(modal-header) {
    background-color: var(--it-nav-modal-header-background);
    color: var(--it-nav-modal-header-text-color);
    --#{$prefix}header-brand-color: var(--it-nav-modal-header-text-color);
    --#{$prefix}header-brand-icon-color: var(--it-nav-modal-header-text-color);
  }

  &::part(modal-body) {
    --#{$prefix}modal-padding: 0;
  }

  &::part(modal-content-wrapper) {
    width: 100%;
    margin-right: 3rem;
  }

  &::part(modal-content) {
    position: unset; //per posizionare il bottone di chiusura sul backdrop
  }

  &::part(modal-footer) {
    display: none;
  }

  .custom-navbar-toggler {
    --#{$prefix}icon-default: var(--#{$prefix}header-center-text-color);
    margin-top: 0;

    &::part(button) {
      --#{$prefix}btn-text-color: var(--#{$prefix}header-center-text-color);
    }
  }

  .it-brand-wrapper {
    --#{$prefix}header-brand-spacing: 0;
  }

  //NAV
  .modal-nav {
    &.navbar {
      --#{$prefix}navbar-background: none;
      // --#{$prefix}navbar-link-padding-x: 0;
      --#{$prefix}navbar-link-active-border-color: var(--#{$prefix}navbar-link-color);
      --it-ul-spacer-background: var(--#{$prefix}300);
    }

    &.navbar-collapsable {
      position: unset;
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    it-dropdown,
    it-megamenu {
      width: 100%;

      &::part(button) {
        --#{$prefix}btn-padding-x: calc(
          var(--#{$prefix}navbar-link-padding-x) - var(--#{$prefix}navbar-link-border-size)
        );
      }

      &::part(dropdown-popover) {
        width: 100%;
        flex-direction: column;
      }

      &::part(popover-content) {
        position: unset !important;
        min-width: unset !important;
        --#{$prefix}dropdown-item-padding-x: var(--#{$prefix}navbar-link-padding-x);
        // padding-left: var(--#{$prefix}navbar-link-padding-x);
      }

      it-dropdown-item {
        &:not([active]) {
          --#{$prefix}navbar-link-border-color: transparent;
        }

        &[active] {
          --#{$prefix}navbar-link-border-color: var(--#{$prefix}navbar-link-active-border-color);
        }

        &::part(list-item) {
          border-color: var(--#{$prefix}navbar-link-border-color);
          border-left: var(--#{$prefix}navbar-link-border-size) solid transparent;
        }
      }
    }

    it-megamenu {
      [slot='header'] {
        .nav-link {
          --bsi-navbar-link-padding-x: 0;
          --bsi-navbar-link-padding-y: 0;
        }
      }

      &::part(megamenu-link-list-wrapper) {
        --bsi-spacing-s: 0;
      }

      &::part(megamenu-link-list) {
        columns: 1 !important;
      }

      it-dropdown-item {
        &::part(list-item) {
          --#{$prefix}dropdown-item-padding-x: var(--#{$prefix}spacing-xxs);
        }
      }

      [slot='footer'] {
        .it-footer-link {
          margin-bottom: var(--bsi-spacing-m);
        }
      }
    }

    .navbar-ul-descriptor {
      display: block;
      width: 100%;
      padding: var(--#{$prefix}spacing-m) var(--#{$prefix}navbar-link-padding-x) 0;
      padding-left: calc(var(--#{$prefix}navbar-link-padding-x) - var(--#{$prefix}navbar-link-border-size));
      border-color: var(--#{$prefix}navbar-link-border-color);
      border-left: var(--#{$prefix}navbar-link-border-size) solid transparent;
      font-size: var(--#{$prefix}font-size-2);
      text-transform: uppercase;
    }

    ul.navbar-nav {
      width: 100%;

      &.secondary {
        --#{$prefix}navbar-link-font-weight: var(--#{$prefix}font-weight-base);
      }

      li {
        &.active {
          --#{$prefix}navbar-link-border-color: var(--#{$prefix}navbar-link-active-border-color);
        }

        a.nav-link {
          border-left: var(--#{$prefix}navbar-link-border-size) solid;
          border-color: var(--#{$prefix}navbar-link-border-color);
        }
      }

      + ul.navbar-nav,
      + .navbar-ul-descriptor {
        &:before {
          display: block;

          width: 100%;
          max-width: 65px;
          height: 1px;
          margin-bottom: var(--#{$prefix}spacing-m);
          margin-left: var(--#{$prefix}navbar-link-padding-x);
          background: var(--it-ul-spacer-background);
          content: '';
        }
      }

      + .navbar-ul-descriptor {
        &:before {
          margin-left: 0;
        }
      }
    }
  }

  .it-socials {
    padding: 0 var(--#{$prefix}spacing-m);
    margin-top: var(--#{$prefix}spacing-l);
    color: var(--#{$prefix}color-link);

    ul {
      display: flex;
      align-items: center;
      gap: 0.65rem;
      list-style-type: none;
      padding: 0;
      margin: var(--#{$prefix}spacing-xs) 0 0 0;

      it-icon::part(icon) {
        --#{$prefix}icon-size-m: var(--#{$prefix}icon-size-s);
        --#{$prefix}icon-default: currentColor;
      }
    }
  }
}
