@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins/visually-hidden';
@import 'bootstrap-italia/src/scss/base/helpers/visually-hidden';

li {
  border: 1px solid red;
  list-style-type: none;
  margin: 0 8px;
  text-align: center;

  &.toolbar-divider {
    margin: 0;
    width: 1px;
    min-width: 1px; // fix for IE11
    max-width: 1px;
    height: 100%;
    background: var(--#{$prefix}gray-300);

    &[aria-orientation='horizontal'] {
      height: 1px;
      min-height: 1px; // fix for IE11
      max-height: 1px;
      width: 100%;
      min-width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

a,
li > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &,
  .toolbar-label {
    color: var(--toolbar-color);
  }

  it-icon,
  &::part(icon) /*La part(icon) è l'icona di expand del dropdown*/ {
    --#{$prefix}icon-default: var(--toolbar-icon-color);
  }

  &.active {
    --toolbar-color: var(--toolbar-active-color);
    --toolbar-icon-color: var(--toolbar-active-color);
  }

  &.disabled {
    --toolbar-color: var(--toolbar-disabled-color);
    --toolbar-icon-color: var(--toolbar-disabled-color);

    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    text-decoration: underline;
    --toolbar-color: var(--toolbar-hover-color);
    --toolbar-icon-color: var(--toolbar-hover-color);
  }

  // hover fix for ie11
  /* stylelint-disable */
  _:-ms-fullscreen,
  &:not(.disabled):hover {
    text-decoration: none;
  }
}

// text label
.toolbar-label {
  margin-top: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  display: block;
}

// icon badges ------------------
.badge-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

// icon badge
.toolbar-badge {
  box-sizing: border-box;
  display: block;
  position: absolute;
  background-color: var(--toolbar-badge-color);
  border: 1px solid var(--#{$prefix}white);
  top: var(--toolbar-badge-top);
  right: 0px;
  width: var(--toolbar-badge-size);
  height: var(--toolbar-badge-size);
  padding: 0;
  color: $white;
  font-size: 0.5rem;
  line-height: 1rem;
  border-radius: 50%;
  font-style: normal;
}

it-dropdown {
  &::part(button) {
    display: inline-flex;
  }

  &::part(icon) {
    --#{$prefix}icon-size-s: var(--#{$prefix}icon-size-xs);
    height: 100%;
  }

  &[alignment='right-start'] {
    &::part(icon) {
    }
  }
}
