@import 'bootstrap-italia/src/scss/base/functions';
@import 'bootstrap-italia/src/scss/base/variables';
@import 'bootstrap-italia/src/scss/base/mixins/visually-hidden';
@import 'bootstrap-italia/src/scss/base/helpers/visually-hidden';

li {
  // border: 1px solid red;
  list-style-type: none;
  margin: 0 var(--#{$prefix}toolbar-item-margin-x);
  text-align: center;

  &.toolbar-divider {
    margin: 0;
    width: 1px;
    min-width: 1px; // fix for IE11
    max-width: 1px;
    height: 100%;
    background: var(--#{$prefix}toolbar-divider-color);

    &[aria-orientation='horizontal'] {
      height: 1px;
      min-height: 1px; // fix for IE11
      max-height: 1px;
      width: 100%;
      min-width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

a,
li > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &,
  .toolbar-label {
    color: var(--#{$prefix}toolbar-link-color);
  }

  it-icon,
  &::part(icon) /*La part(icon) è l'icona di expand del dropdown*/ {
    --#{$prefix}icon-default: var(--#{$prefix}toolbar-icon-color);
  }

  &.active {
    --#{$prefix}toolbar-link-color: var(--#{$prefix}color-text-primary);
    --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-primary);
  }

  &.disabled {
    --#{$prefix}toolbar-link-color: var(--#{$prefix}color-text-disabled);
    --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-disabled);

    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    text-decoration: underline;
    --#{$prefix}toolbar-link-color: var(--#{$prefix}color-link-hover);
    --#{$prefix}toolbar-icon-color: var(--#{$prefix}icon-primary-hover);
  }

  // hover fix for ie11
  /* stylelint-disable */
  _:-ms-fullscreen,
  &:not(.disabled):hover {
    text-decoration: none;
  }
}

// text label
.toolbar-label {
  margin-top: var(--#{$prefix}toolbar-label-margin-top);
  font-size: var(--#{$prefix}toolbar-label-font-size);
  font-weight: 600;
  line-height: 1;
  display: block;
}

// icon badges ------------------
.badge-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

// icon badge
.toolbar-badge {
  box-sizing: border-box;
  display: block;
  position: absolute;

  border: 1px solid var(--#{$prefix}toolbar-badge-border-color);
  background-color: var(--#{$prefix}toolbar-badge-background-color);

  top: var(--#{$prefix}toolbar-badge-top);
  right: 0px;
  min-width: var(--#{$prefix}toolbar-badge-size);
  height: var(--#{$prefix}toolbar-badge-size);
  padding: 0 var(--#{$prefix}toolbar-badge-padding-x);
  color: var(--#{$prefix}toolbar-badge-text-color);
  font-size: var(--#{$prefix}toolbar-badge-font-size);
  line-height: 1rem;
  border-radius: var(--#{$prefix}toolbar-badge-border-radius);
  font-style: normal;

  &.no-text {
    --#{$prefix}toolbar-badge-padding-x: 0;
  }
}

it-dropdown {
  &::part(button) {
    display: inline-flex;
  }

  &::part(icon) {
    --#{$prefix}icon-size-s: var(--#{$prefix}icon-size-xs);
    height: 100%;
  }

  &[alignment='right-start'] {
    &::part(icon) {
    }
  }
}
