@use 'bootstrap-italia/src/scss/base/functions' as *;
@use 'bootstrap-italia/src/scss/base/variables' as *;
@use 'bootstrap-italia/src/scss/base/mixins' as *;
@use 'bootstrap-italia/src/scss/base/mixins/focus' as *;

@use 'bootstrap-italia/src/scss/base/reboot'; //per gli stili di ::before e ::after
@use 'bootstrap-italia/src/scss/base/helpers/visually-hidden' as *;

@use 'bootstrap-italia/src/scss/forms/forms' as *;
@use 'bootstrap-italia/src/scss/forms/form-control' as *;
@use 'bootstrap-italia/src/scss/forms/form-check' as *;
@use 'bootstrap-italia/src/scss/forms/form-toggles' as *;
@use 'bootstrap-italia/src/scss/forms/form-validation' as *;

::part(checkbox) {
  &:focus:focus-visible {
    box-shadow: none !important;
  }
}

.toggles label {
  //annullo gli stili di focus da bsi perchè sono sbagliati
  input[type='checkbox'] {
    outline: none !important;

    &:focus {
      border-color: inherit !important;
      box-shadow: none !important;
      outline: none !important;

      + .lever {
        border-color: inherit !important;
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }

  //definisco gli stili di focus corretti
  &:has(input[type='checkbox']:focus-visible) {
    @include focus;

    input,
    .lever {
      border-color: inherit !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}
